body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F8FF;
    color: #303030;
}
main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}
.main-content {
    /* box-shadow: 6px 6px 20px rgb(34, 33, 33); */
    width: 800px;
    padding: 35px 70px;
}
/* ------------------------- */
.title {
    width: 350px;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(64%, 72%, 96%, 0.5);
}
.about-name {
    font-size: 40px;
    color: #2e77b3;
}
.about-position {
    font-size: 16px;
}
.about-description {
    font-size: 14px;
    line-height: 1.63;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* ---------------------------- */

.projekts-list {
    padding: 0;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 30px;
}
.projects-item {
    font-size: 14px;
    line-height: 1.6;
}
.projects-link {
    text-decoration: none;
    color: inherit;
}

/* ---------------------------- */
.work-position {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.period {
    font-size: 12px;
    line-height: 0.5;
    margin-bottom: 10px;
}
.work-list {
    padding: 0;
    margin-left: 15px;
    margin-bottom: 30px;
}
.work-list-item {
    font-size: 14px;
    line-height: 1.5;
}
/* ------------------------ */
.education {
    margin-top: 20px;
    margin-bottom: 10px;
}
/* --------------------------- */
.sidebar {
    width: 300px;
    height: 300px;
    padding-top: 15px;
    margin-top: 10px;
    margin-left: 15px;
    background-color:rgb(64%, 72%, 96%, 0.5);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.photo {
    width: 240px;
    height: 250px;
    margin: 0 auto 48px;
    display: flex;
    border-radius: 50%;
    border: 1px solid #2e77b3;
}
.contacts {
    background-color:rgb(64%, 72%, 96%, 0.5);
    padding-left: 20px;
    padding-bottom: 30px;
}
.contact-tape {
    font-size: 14px;
    margin-right: 5px;
}
.contact-link {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: #2e77b3;
}
.skills {
    background-color:rgb(64%, 72%, 96%, 0.5);
    padding-left: 20px;
    padding-bottom: 180px;
}
.skills-title {
    padding-bottom: 30px;
    margin: 0;
}
.skills-list {
    padding: 0;
    margin: 0 17px 30px;
}
.skills-item {
    font-size: 14px;
    line-height: 1.6;
}

