body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F8FF;
    color: #303030;
}
/* main styles */
main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}
.main-content {
    box-shadow: 6px 6px 20px rgb(34, 33, 33);
    padding: 55px 70px;
}
/* ------------------------- */
.about-name {
    font-size: 40px;
}
.about-position {
    font-size: 16px;
}
.about-description {
    font-size: 14px;
    line-height: 1.63;
    margin-bottom: 30px;
}
/* ---------------------------- */

.projekts-list {
    padding: 0;
    margin-left: 15px;
    margin-bottom: 30px;
}
.projects-item {
    font-size: 14px;
    line-height: 1.6;
}
.projects-link {
    text-decoration: none;
    color: inherit;
}

/* ---------------------------- */
.work-position {
    font-size: 16px;
    line-height: 1.5;
}
.period {
    font-size: 12px;
    line-height: 0.5;
    margin-bottom: 10px;
}
.work-list {
    padding: 0;
    margin-left: 15px;
    margin-bottom: 30px;
}
.work-list-item {
    font-size: 14px;
    line-height: 1.5;
}
/* ------------------------ */

.sidebar {
    background-color:rgb(64%, 72%, 96%, 0.5);
    padding-top: 70px;
    width: 470px;
}
.photo {
    width: 220px;
    margin: 10px auto 50px;
    display: flex;
    border-radius: 7px;
    border: 2px solid #2e77b3;
}
.contacts,
.skills
{
    margin-left: 20px;
}
.contacts {
    margin-bottom: 40px;
}
.contact-tape {
    font-size: 14px;
    margin-right: 5px;
}
.contact-link {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: #2e77b3;
}
.skills-list {
    padding: 0;
    margin: 17px;
}
.skills-item {
    font-size: 14px;
    line-height: 1.6;
}

